@import '../../../styles/mixins/breakPoint';

$bidsColor: #357458;
$asksColor: #983736;

.listItem {
  height: 18px;
  display: flex;
  padding: 0 18px;

  > div {
    width: 100%;
    display: flex;
  }
}

.header {
  color: #3d424e;

  > div {
    justify-content: flex-end;
  }
}

.bidsHeader {
  grid-area: bidsHeader;

  @include breakPoint {
    display: none;
  }
}

.askHeader {
  grid-area: asksHeader;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bids {
  &.container {
    grid-area: bids;
  }

  .priceColor {
    color: $bidsColor;
  }

  .listItem {
    justify-content: flex-start;
    flex-flow: row-reverse;

    @include breakPoint {
      transform: scaleX(-1);
      > div {
        transform: scaleX(-1);
      }
    }

    > div {
      justify-content: flex-end;
    }
  }
}

.asks {
  &.container {
    grid-area: asks;

    @include breakPoint {
      flex-flow: column-reverse;
    }
  }

  .priceColor {
    color: $asksColor;
  }

  .listItem {
    justify-content: flex-end;

    > div {
      justify-content: flex-end;
    }
  }
}
