@import '../../../styles/mixins/breakPoint.scss';

.header {
  display: grid;
  width: 100%;
  flex-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: header;
}

.spreadInHeader,
.spread {
  justify-content: center;
}

.spread {
  display: none;
  grid-area: spread;

  @include breakPoint {
    display: flex;
  }
}

.spreadInHeader {
  display: flex;

  @include breakPoint {
    display: none;
  }
}
