:global {
  * {
    box-sizing: border-box;
  }
}

$fontColor: #b0b2b8;

.appContainer {
  width: 100%;
  height: 100vh;
  background-color: #141722;
  display: flex;
  flex-direction: column;
  color: $fontColor;
  padding: 16px;
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: auto;
}

.toggleButton {
  max-width: 200px;
  background: #5149d1;
  border: none;
  border-radius: 5px;
  color: $fontColor;
  padding: 8px 12px;
  font-weight: bold;
}

.productInfo {
  font-size: 0.8em;
  color: darken($color: $fontColor, $amount: 30);
  padding: 4px;
}
